<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.example.mike.ledlampeconomist">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/greeting"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="ru.example.mike.ledlampeconomist.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.example.mike.ledlampeconomist.RatesActivity"
            android:label="@string/rates_title"
            android:screenOrientation="portrait" />
        <activity
            android:name="ru.example.mike.ledlampeconomist.LampInfoActivity"
            android:label="@string/lamp_title"
            android:screenOrientation="portrait" />
        <activity android:name="ru.example.mike.ledlampeconomist.SettlementsActivity"
            android:label="@string/settlements_activity"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>
